.jumbotron{
    background-color:thistle;
    color: black;
    margin-top:50px;
}

.footer{
    background-color:thistle;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top:10px;
}

.btn-reserva {
    width:100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right:10px;
}