.jumbotron {
  background-color: thistle;
  color: black;
  margin-top: 50;
  margin-bottom: 10;
}
.footer {
  background-color: thistle;
  padding: 10px 10px 0px 10px;
  margin-top: 10;
  margin-bottom: 0;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
