@colorBase:thistle;
@amarillo:yellow;
@rojo:red;
@verde:green;
.margenes(@top:0,@bottom:0) {
    margin-top: @top;
    margin-bottom: @bottom;
    color: black;
}

.jumbotron{
    background-color: @colorBase;
   .margenes(50,10 );
}

.footer{
    background-color:@colorBase;
    padding: 10px 10px 0px 10px;
    .margenes(10,0 );
}

.card-hotel{
    flex: 1 200px;
    margin-top:10px;
}

.btn-reserva {
    width:100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right:10px;
}