$colorBase:thistle;
$amarillo:yellow;
$rojo:red;
$verde:green;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    color:black;

}

.jumbotron{
    background-color: $colorBase;
    
   @include margenes(50,10 );
}

.footer{
    background-color:$colorBase;
    padding: 10px 10px 0px 10px;
    @include margenes(10,0 );
}

.card-hotel{
    flex: 1 200px;
    margin-top:10px;
}

.btn-reserva {
    width:100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right:10px;
}